@model TopAppBarViewModel

<header class="mdc-top-app-bar @Model.CustomClass @Model.GetDense() @Model.GetElevation()"
 data-mdc-auto-init="TopAppBar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span class="mdc-top-app-bar__title">@Model.Title</span>
        </section>
    </div>
</header>